<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>534936644571-ptmhurvdpcup1ijuss1rp59sbb20p81i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534936644571-ptmhurvdpcup1ijuss1rp59sbb20p81i</string>
	<key>API_KEY</key>
	<string>AIzaSyA_jT2BetOo33k2rEZIF_f5VSNr8rtIqUM</string>
	<key>GCM_SENDER_ID</key>
	<string>534936644571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Uni-clem.Simple</string>
	<key>PROJECT_ID</key>
	<string>project-5073989210897668446</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5073989210897668446.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:534936644571:ios:9d6029a39cf93a61</string>
	<key>DATABASE_URL</key>
	<string>https://simpleplus.firebaseio.com</string>
</dict>
</plist>